<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character List</title>
    <link rel="stylesheet" href="/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
  </head>

  <body>
    <div class="char-creation">
    <h1>Edit Character</h1>
    <form action="/characters/<%=character._id%>?_method=PUT" method="POST">
      <fieldset class="character-info">
      <label for="image">Image</label> 
      <input type="text" name="image" value="<%=character.image%>" /><br />
      <label for="image">Name</label> 
      <input type="text" name="name" value="<%=character.name%>" /><br />
      <label for="gender">Gender</label> 
      <input type="text" name="gender" value="<%=character.gender%>" /><br />
      <label for="race">Race</label> 
      <input type="text" name="race" value="<%=character.race%>" /><br />
      <label for="age">Age</label>  
      <input type="text" name="age" value="<%=character.age%>" /><br />
      <label for="birthday">Birthday</label> 
      <input type="text" name="birthday" value="<%=character.birthday%>" /><br />
      <label for="height">Height</label> 
      <input type="text" name="height" value="<%=character.height%>" /><br />
      <label for="nationality">Nationality</label> 
      <input type="text" name="nationality" value="<%=character.nationality%>" /><br />
      <label for="biography">Biography</label> 
      <input type="text" name="biography" value="<%=character.biography%>" /><br />
      <br />
    </fieldset>
      <input type="submit" value="Submit Changes" />
    </form>
  </div>
  </body>
</html>