<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <a href="/characters">Back to Character Log</a>
  </nav>
  <h1><%=character.name %></h1>
  <img src=<%= character.image %>> <br>
  Gender: <%= character.gender %> <br>
  Race: <%= character.race %> <br>
  Age: <%= character.age %> <br>
  Birthday: <%= character.birthday %> <br>
  Height: <%= character.height %> <br>
  Nationality: <%= character.nationality %> <br>
  Biography: <%= character.biography %> <br>

</body>
</html>