<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@0;1&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/normalize.css" />
    <title>Document</title>
  </head>
  <body>

    <h2 class='page-title'>Character Details</h2>

    <div class="container">
      <div class="row col-md-2">
        <a class='btn btn-primary mb-3' href="/characters">Back to Character Log</a>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12 primary-column">
          <div class="main-text">
            <div class="row"> 
              <h2><%=character.name %></h1>
            </div>
            <div class="character-portrait">
              <img class="index-image" src="<%= character.image%>" /> <br />
            </div>
            <div class="container my-2">
              <!-- Gender -->
              <div class="row my-2">
                <div class="badge bg-light text-dark col-md-4 col-sm-6">
                  Gender:
                </div>
                <div class="col-md-8 col-sm-6">
                 <%= character.gender %>
                </div>
              </div>
              <!-- Race -->
              <div class="row my-2">
                <div class="badge bg-light text-dark col-md-4 col-sm-6">
                  Race:
                </div>
                <div class="col-md-8 col-sm-6">
                 <%= character.race %>
                </div>
              </div>
              <!-- Age -->
              <div class="row my-2">
                <div class="badge bg-light text-dark col-md-4 col-sm-6">
                  Age:
                </div>
                <div class="col-md-8 col-sm-6">
                 <%= character.age %>
                </div>
              </div>
              <!-- Birthday -->
              <div class="row my-2">
                <div class="badge bg-light text-dark col-md-4 col-sm-6">
                  Birthday:
                </div>
                <div class="col-md-8 col-sm-6">
                 <%= character.birthday %>
                </div>
              </div>
              <!-- Height -->
              <div class="row my-2">
                <div class="badge bg-light text-dark col-md-4 col-sm-6">
                  Height:
                </div>
                <div class="col-md-8 col-sm-6">
                 <%= character.height %>
                </div>
              </div>
              <!-- Nationality -->
              <div class="row my-2">
                <div class="badge bg-light text-dark col-md-4 col-sm-6">
                  Nationality:
                </div>
                <div class="col-md-8 col-sm-6">
                 <%= character.nationality %>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-8 col-xs-12 secondary-column">
            <div class="container">             
              <h3 class="biography">Biography</h3>
              <br/>
              <p><%= character.biography %></p>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
